.x-mask.splashscreen {
  background-color: white;
	opacity: 1;
}

.x-mask-msg.splashscreen,
.x-mask-msg.splashscreen div {
	font-size: 16px;
	font-weight: bold;
	padding: 30px 5px 5px 5px;
	border: none;
	background-color: transparent;
	background-position: top center;
}

.x-message-box .x-window-body .x-box-inner {
	min-height: 110px !important;
}

/*------------------------- DEIXA EM NEGRITO A LINHA EM FOCO ------------------------*/
.x-grid-row-over .x-grid-cell-inner {
    font-weight: bold;
}

/*------------------------- ICONES DA MENSAGEM DE INFORMAÇÃO ------------------------*/
.ux-notification-icon-information {
	background-image: url(../images/info.png);
}

.ux-notification-icon-exclamation {
	background-image: url(../images/exclamation.png);
}

.ux-notification-light .x-window-header {
	background-color: transparent;
}

body .ux-notification-light {
	background-image: url(../images/fader.png);
}

.ux-notification-light .x-window-body {
	text-align: center;
	padding: 15px 5px 20px 5px;
	background-color: transparent;
	border: 0px solid white;
}
/*------------------------- ICONES DA MENSAGEM DE INFORMAÇÃO ------------------------*/


.icon-key {
  	background-image: url(../images/key.png) !important;
}

.icon-cancel {
  	background-image: url(../images/cancel.png) !important;
}

.key-go {
  	background-image: url(../images/key_go.png) !important;
}

.icon-folder {
	background-image: url(../images/folder.png) !important;	
}

.icon-stop {
	background-image: url(../images/stop.png) !important;	
}

.icon-add {
	background-image: url(../images/add.png) !important;	
}

.icon-delete {
	background-image: url(../images/delete.png) !important;	
}

.icon-report {
	background-image: url(../images/report.png) !important;	
}

.icon-logout {
	background-image: url(../images/logout.png) !important;	
}

.icon-grid {
	background-image: url(../images/grid.png) !important;		
}

.icon-menu {
	background-image: url(../images/menu.png) !important;		
}

.icon-user {
	background-image: url(../images/user.png) !important;		
}

.icon-users {
	background-image: url(../images/users.png) !important;		
}

.icon-save {
	background-image: url(../images/save.gif) !important;		
}

.icon-cancel {
	background-image: url(../images/cancel.png) !important;		
}

.icon-accept {
	background-image: url(../images/accept.png) !important;		
}

.icon-remove {
	background-image: url(../images/remove.png) !important;		
}

.icon-home {
	background-image: url(../images/ihome.png) !important;	
}

/*------------------------------------- EMPRESA ------------------------------------*/
.icon-empresa {
	background-image: url(../images/empresas.png) !important;	
}

.icon-cad-empresa {
	background-image: url(../images/cad-empresa.png) !important;	
}
/*----------------------------------- FIM EMPRESA ----------------------------------*/

/*------------------------------------- CORRETORA ----------------------------------*/
.icon-corretora {
	background-image: url(../images/corretoras.png) !important;	
}

.icon-cad-corretora {
	background-image: url(../images/cad-corretora.png) !important;	
}
/*----------------------------------- FIM CORRETORA ---------------------------------*/


/*------------------------------------ MOVIMENTOS -----------------------------------*/
.icon-movimentos {
	background-image: url(../images/movimentos.png) !important;	
}

.icon-cad-mov {
	background-image: url(../images/cad-mov.png) !important;	
}

.icon-exl-mov {
	background-image: url(../images/vnd-mov.png) !important;	
}

.icon-carteira {
	background-image: url(../images/carteira.png) !important;	
}
/*----------------------------------- FIM MOVIMENTOS --------------------------------*/

/*----------------------------------- GRÁFICOS ------------------------------------*/
.icon-relatorio {
	background-image: url(../images/relatorio.png) !important;		
}

.icon-graf-pizza {
	background-image: url(../images/graf-pizza.png) !important;	
}

.icon-graf-coluna {
	background-image: url(../images/graf-coluna.png) !important;	
}

.icon-graf-curva {
	background-image: url(../images/graf-curva.png) !important;	
}

.icon-graf-barra {
	background-image: url(../images/graf-barra.png) !important;	
}

.icon-gerar {
	background-image: url(../images/gerar.png) !important;	
}
/*------------------------------------ FIM GRÁFICOS --------------------------------*/

/*------------------------------------ MANUTENÇÃO ------------------------------------*/
.icon-manutencao {
	background-image: url(../images/manutencao.png) !important;	
}

.icon-usuario {
	background-image: url(../images/usuario.png) !important;		
}
/*---------------------------------- FIM MANUTENÇÃO ----------------------------------*/

/*------------------------------------ CARTEIRA ------------------------------------*/
.icon-atualizar {
	background-image: url(../images/atualizar.png) !important;	
}
/*---------------------------------- FIM CARTEIRA ----------------------------------*/

#titleHeader {
	color:#000;
	font-size:20px;
	font-weight:bold;
	font-family:'Lucida Grande', Arial, Sans;
}