.x-mask.splashscreen {
  background-color: white;
	opacity: 1;
}

.x-mask-msg.splashscreen,
.x-mask-msg.splashscreen div {
	font-size: 16px;
	font-weight: bold;
	padding: 30px 5px 5px 5px;
	border: none;
	background-color: transparent;
	background-position: top center;
}

.x-message-box .x-window-body .x-box-inner {
	min-height: 110px !important;
}

.icon-key {
  	background-image: url(../images/key.png) !important;
}

.icon-cancel {
  	background-image: url(../images/cancel.png) !important;
}

.key-go {
  	background-image: url(../images/key_go.png) !important;
}

.icon-folder {
	background-image: url(../images/folder.png) !important;	
}

.icon-stop {
	background-image: url(../images/stop.png) !important;	
}

.icon-add {
	background-image: url(../images/add.png) !important;	
}

.icon-delete {
	background-image: url(../images/delete.png) !important;	
}

.icon-report {
	background-image: url(../images/report.png) !important;	
}

.icon-help {
	background-image: url(../images/help.png) !important;	
}

.icon-ferramentas {
	background-image: url(../images/ferramentas.png) !important;	
}

.icon-logout {
	background-image: url(../images/logout.png) !important;	
}

.icon-chart_organisation {
	background-image: url(../images/chart_organisation.png) !important;		
}

.icon-home {
	background-image: url(../images/home.png) !important;		
}

.icon-empresa {
	background-image: url(../images/empresa.png) !important;		
}

.icon-grid {
	background-image: url(../images/grid.png) !important;		
}

.icon-user {
	background-image: url(../images/user.png) !important;		
}

.icon-save {
	background-image: url(../images/save.gif) !important;		
}

.icon-cancel {
	background-image: url(../images/cancel.png) !important;		
}


.icon-user-menu {
	background-image: url(../images/user-menu.png) !important;		
}

.icon-empresa-menu {
	background-image: url(../images/empresa-menu.png) !important;		
}

.icon-corretora-menu {
	background-image: url(../images/corretora-menu.png) !important;		
}

#titleHeader {
	color:#000;
	font-size:20px;
	font-weight:bold;
	font-family:'Lucida Grande', Arial, Sans;
}